*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.cuntent{
    height: 8rem;
    background-color: rgb(255, 255, 255);
    border-bottom: 1px solid rgba(0, 0, 0, 0.096);
}
.card img{
    width: 100%;
}
.card:hover{
    transform: translateY(-10px);
    box-shadow: 0 0 10px grey;
    transition: 0.3s ease;
}
.card{
    width: 100%;
    transition: 0.3s ease;
    border-radius: 55px !important;
}
/* #box1{
    background-color: grey;
    color: white;
    
}
#box2{
    background-color: rgb(82, 79, 106);
    color: white;
} */

footer ul li{
    line-height: 40px;
    text-decoration: none;
}
.cafe h2:hover{
    color: rgba(6, 0, 0, 0.632);
}

